// Containers

 
// Cards

.card-weather {
    background-color: #F5F5F5;
}

.card-heat {
    background-color: #FEF854;
}

.card-earthquake {
    background-color: #E16228;
}

.card-flood {
    background-color: #00BBd5;
}

.card-hurricane {
    background-color: #ACDBFF;
}
